.container {
    background: rgb(17,153,255);
    background: linear-gradient(0deg, rgba(17,153,255,1) 2%, rgba(255,255,255,1) 100%);
    padding:'2rem';
    margin-bottom:'1rem';
    border:'2px solid #eee';
    border-radius: 1rem;
    border-color:  rgb(17,153,255);
}